@media screen and (min-width: 992px){
    #navbarNavDropdown{
        display: flex;
        justify-content: flex-end;
    }
}

/* #region  Own library*/

*{
    color: rgb(46, 63, 14)
}

hr{
   color: #90044a !important;
}

.bg-strawberry{
    background-color: #da2644;
}

.bg-salmon-candy{
    background-color: #f8764e !important;
}

.bg-mushroom{
    background-color: #d0cf75;
}

.border-sweet-strawberry{
    color: #90044a;
}

.btn-strawberry{
    background-color: #da2644 !important;
    color: white !important;
}

.btn-strawberry:hover{
    background-color: #790619 !important;
}

.card, .card-body p, .card-body h5{
    color: aliceblue;
}

/* #endregion */

/* #region PROFILE*/
#profile-grid{
    display: grid;
    grid-template-areas:  "image text";
    gap: 30px;
    align-items: center;
}

.profile-image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    grid-area: image;
    
}

.profile-text{
    grid-area: text;
    text-align: justify;
}

.profile-icons{
    height: 50px;
    width: fit-content;
    display: flex;
}

.profile-icons img{
    height: 50px;
    margin-right: 20px;
}

@media screen and (max-width: 560px){
    #profile-grid{
        grid-template-areas:    "image"
        "text";
        justify-items: center;
    }
    .profile-icons{
        width: 100%;
        justify-content: center;
    }
}
/* #endregion */

/* #region REPOSITORY */
.card{
    overflow: hidden;
}

#repo-grid{
    display:flex;
    justify-content: center;
    width: 100%;
}

#repo-grid > div{
    margin: 0 20px;
}

.limit-image-card{
    height: 45%;
    overflow: hidden;
}

@media screen and (max-width: 560px){
    #repo-grid{
        flex-direction: column;
    }

    #repo-grid > div{
        margin: 8% auto;
    }
}
/* #endregion */